[Desktop Entry]
Version=1.0
Type=Application
Name=P2Pirate
Exec=P2Pirate
Icon=P2Pirate
Categories=Office;Finance;
Terminal=false
StartupNotify=true
StartupWMClass=P2Pirate
